<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Menü
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano has-scrollbar">
        <div class="nano-content" tabindex="0" style="right: -17px;">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li class="nav-active">
                        <a>
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Anasayfa</span>
                        </a>
                    </li>

                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <span>Etkinlik</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a>
                                    Etkinlik Oluştur
                                </a>
                            </li>
                            <li>
                                <a>
                                    Oluşturduğum Etkinlikler
                                </a>
                            </li>
                            <li>
                                <a>
                                    Katıldığım Etkinlikler
                                </a>
                            </li>
                        </ul>
                    </li> 
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <span>Profil</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a>
                                   Kullanıcı Bilgilerini Güncelle
                                </a>
                            </li>
                            <li>
                                <a>
                                    Çıkış Yap
                                </a>
                            </li>
                           
                        </ul>
                    </li>
               

                </ul>
            </nav>

        </div>
    </div>


</aside>